name: "Default Checks"

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - main

jobs:
  check:
    permissions:
      contents: read
      checks: write
      statuses: write
    uses: stuhlmuller/workflows/.github/workflows/default.yml@main
    with:
      checkov: false
